.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gaps-3);
  padding: var(--gaps-3);
  border: 1px solid var(--surface-third);
  border-radius: var(--radius-2);
  width: min(100%, 500px);
  margin: auto;
  margin-top: 1em;
}

.botones_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gaps-2);
}

.cancelar_boton {
  background-color: var(--surface-first);
  color: var(--color-primary-text);
  border: 1px solid var(--surface-third);
  border-radius: var(--radius-2);
  padding: var(--gaps-1) var(--gaps-2);
}
