# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map
lib/**/*.json

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
lib/

# Backup folder
backup
firebase-export

# env variables
.env.prod
.env.default
.env.local
.env
.env.development
.env.dev

# firebase exports folders
firebase-export-*

# Logs files
**/*.log

#Infisical enviroments keys
.infisical.json