.contenedor_evaluaciones {
  display: flex;
  flex-direction: column;
  gap: var(--gaps-3);
  width: min(100%, 900px);
  margin-block: 1em;

  & p {
    color: var(--color-primary-text);
    font-size: var(--paragraph);
  }

  & h6 {
    color: var(--color-placeholder);
    font-size: var(--label);
  }
}

.fieldsets {
  display: flex;
  flex-direction: column;
  gap: var(--gaps-2);
  border: 1px solid var(--surface-third);
  border-radius: var(--radius-2);
  padding: var(--gaps-2);
}

.seccion_agrupada {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--surface-third);
  border-radius: var(--radius-2);
  padding: var(--gaps-2);

  & summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.contendor_informacion {
  border-radius: var(--radius-2);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gaps-2);
  justify-content: flex-start;

  & div {
    width: min(100%, 200px);
  }
}
