.botones_contenedor {
  display: flex;
  gap: 1em;
  width: 100%;
  margin: var(--gaps-4) 0 var(--gaps-3) 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.acciones_principales {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}