<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width; initial-scale=1.0' />
    <style>
      * { margin: 0; --paragraph-size: 17px; --text-color: #24292F; font-family:
      Arial; } article { display: block; font-weight: 100; line-height: 1.5;
      position: relative; height: 100%; } article>header.header { display: flex;
      align-items: center; justify-content: space-between; position: absolute;
      top: 0; height: 130px; width: -webkit-fill-available; opacity: 0.7; }
      article>header.header>img.logo { height: 130%; }
      article>header.header>img.certificados { height: 100%; } article>section {
      padding: 0px 70px; padding-top: 120px; padding-bottom: 54px; } section>p {
      font-size: var(--paragraph-size); color: var(--text-color); text-align:
      justify; } section>img.firma { padding-right: 10%; width: 40%;
      border-bottom: 2px solid var(--text-color); } article>footer.footer {
      display: flex; align-items: flex-start; justify-content: space-evenly;
      position: absolute; bottom: 0; width: 100%; height: 54px; opacity: 0.7; }
      article>footer.footer p { font-size: 12px; padding: 8px; width: 100%;
      text-wrap: nowrap; text-align: left; border-right: 3px solid;
      border-image: -webkit-gradient(linear, left top, left bottom,
      from(#CCDD57), to(#8BC751))0 100% 0 0 stretch; } article>footer.footer
      p:last-child { border: none; } @media print { /* indicamos el salto de
      pagina */ .break-page { display: block; page-break-before: always; } }
    </style>
  </head>
  <body>
    <article>
      <section>
        <p>Facatativá., {{fechaMA hoy}}</p>
        <br />
        <br />
        <p>Señores:
          <br />{{nombreContratista}}
        </p>
        <br />
        <br />
        <p>Ciudad
          <br />Referencia: Retroalimentación Evaluación de Desempeño periodo 2024
        </p>
        <br />
        <p>Respetado(a).</p>
        <br />
        <p>Cordial saludo, de acuerdo con el procedimiento Selección, evaluación
          y reevaluación de proveedores (COM-PRO-003) se establece que de
          acuerdo con la evaluación de desempeño que se realiza anualmente a
          nuestros proveedores y contratistas, deberá obtener una calificación
          igual o mayor a 3.5 en el puntaje global de la evaluación.</p>
        <br />
        <p>Los proveedores y/o contratistas con calificación inferior a 3.5,
          deberán gestionar un plan de trabajo enfocado y/o presentar los
          documentos pendientes, de acuerdo con las observaciones realizadas por
          el evaluador mediante la retro alimentación.</p>
        <br />
        <p>En atención a la evaluación de desempeño realizada por Empresa S.A.
          queremos informarle que su compañía obtuvo un puntaje de 3.5
          en la evaluación anual, correspondiente al año
          2024</p>
        <br />
        <p>Agradecemos su compromiso y gestión como contratista de nuestra
          Organización.</p>
      </section>
      <footer class='footer'>
        <p>
          <strong>Planta:</strong>&nbsp;Terminal de Combustibles de la sabana,
          <br />&emsp;&emsp;Vereda Mancilla, Facatativá, Cundinamarca
        </p>
        <p>Teléfono: <br />(60 1) 891 0300 </p>
        <p>biodsa.com.co</p>
      </footer>
    </article>
  </body>
</html>